@model IEnumerable<EshoppingCenter.Models.Product>;

@if (Model.Count() > 0)
{
    <label for="cars">Select A Category:</label>
    <form class="search-form" asp-controller="Product" asp-action="ProductByCategory" method="get">
        <select name="name">
            <option>All</option>
            @foreach (var item in @ViewBag.category)
             {
                <option value="@item.Name">@item.Name</option>
             }
        </select>
        <input class="search-button" type="submit"><i class="fa fa-search"></i>
    </form>

    @*<button id="cb1-button"
                tabindex="-1"
                aria-label="States"
                aria-expanded="false"
                aria-controls="cb1-listbox">
            <span class="arrow">
                <svg width="18"
                     height="16"
                     aria-hidden="true"
                     focusable="false">
                    <polygon class="outline" points="1,4 17,4 9,15"></polygon>
                    <polygon class="arrow" points="3,5 15,5 9,13"></polygon>
                </svg>
            </span>
        </button>
     *@
    @foreach (var product in Model)
    {
        <a asp-area="" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">
            <div class="product-body" style="width:100%">
                <img src=" @product.Image" height="550" class="d-block w-100" alt="image of a feature product">
                <p class="productName"> @product.Name</p>
                <p class="productUnitPrice"> @product.UnitPrice.ToString("c")</p>

            </div><!--End of ProdctBody-->
        </a>
    }
}


@*<form method="post" asp-action="SearchByCategory" class="form-inline my-2 my-lg-0">
        <input name="searchQuery" class="form-control mr-sm-2" type="text" placeholder="Search Product by Category" aria-label="Search">
        <button type="submit" asp-controller="Product" asp-action="SearchByCategory" class="btn btn-primary"><i class="fas fa-search"></i> &nbsp;</button>
    </form>*@